extends layout

block content
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navMain')
          span.sr-only Toggle Navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #navMain.collapse.navbar-collapse
        ul.nav.navbar-nav.pull-right
          li.active
            a(href='#') HOME
          li
            a(href='#') ABOUT ME
          li
            a(href='#') SKILLS
          li
            a(href='#') PORTFOLIO
          li
            a(href='#') CONTACT ME
            
  .parallax-window(data-parallax='scroll', data-image-src='https://static.pexels.com/photos/5770/leaf-spring-leaves-plants.jpg')
    .layer
      .row
        .col-lg-4
        .col-lg-4
          .blur-box
            .row
              .col-lg-12.col-xs-12
                img.img-circle(src='https://yt3.ggpht.com/-UjKrETVeMGA/AAAAAAAAAAI/AAAAAAAAAAA/6c3AY-EYwZI/s900-c-k-no-mo-rj-c0xffffff/photo.jpg', alt='myimage')
                .element.style
        .col-lg-4
      
      

        
  h1= title
  p Welcome to #{title}

  h1= title
  p Welcome to #{title}
  h1= title
  p Welcome to #{title}
  
  
  h1= title
  p Welcome to #{title}
  
  h1= title
  p Welcome to #{title}
  
  h1= title
  p Welcome to #{title}
  
  h1= title
  p Welcome to #{title}
  
  
  h1= title
  p Welcome to #{title}
  
  
  h1= title
  p Welcome to #{title}
